<mat-card>

  <mat-card-header>
    <div mat-card-avatar class="icon">
      <mat-icon class="scale-icon">emoji_people</mat-icon>
    </div>
    <mat-card-title *ngIf="about">Hey {{ about.name }}, This one's about you!</mat-card-title>
    <mat-card-subtitle *ngIf="question">{{ question.question }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile *ngFor="let answer of question.answers; index as i">
        <button *ngIf="i % 3 === 0" mat-flat-button color="accent">{{ answer.answer }}</button>
        <button *ngIf="i % 3 !== 0" mat-flat-button color="primary">{{ answer.answer }}</button>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>

</mat-card>
