<mat-card>

  <mat-card-header>
    <div mat-card-avatar class="icon">
      <mat-icon class="scale-icon">campaign</mat-icon>
    </div>
    <mat-card-title>Wait for instructions from the host</mat-card-title>
    <mat-card-subtitle>They'll tell you to scan a Qr-code</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>This application won't work until you've scanned the Qr-code from the host. Please ask them to display it by starting a new quiz.</p>
  </mat-card-content>

</mat-card>
